@font-face {
    font-family: 'SourceHanSansCN-Normal';
    src: url('../../../assets/fonts/SourceHanSansCN-Normal');
    font-display:block;
  }
  
  @font-face {
    font-family: 'SourceHanSansCN-Regular';
    src: url('../../../assets/fonts/SourceHanSansCN-Regular.ttf');
    font-display:block;
  }
  @font-face {
    font-family: 'SourceHanSansCN-Medium';
    src: url('../../../assets/fonts/SourceHanSansCN-Medium.ttf');
    font-display:block;
  }
  @font-face {
    font-family: 'SourceHanSansCN-Bold';
    src: url('../../../assets/fonts/SourceHanSansCN-Bold.ttf');
    font-display:block;
  }